language: node_js

node_js:
  - "8"

cache:
  yarn: true
  directories:
    - node_modules

install:
  - yarn install

script:
  - yarn lint

before_deploy:
  - yarn build

deploy:
  - provider: script
    skip_cleanup: true
    script: now ln $(now build -p -t=$NOW_TOKEN) $DEV -t=$NOW_TOKEN
    on:
      branch: develop

  - provider: script
    skip_cleanup: true
    script: now ln $(now build -p -t=$NOW_TOKEN) $PROD -t=$NOW_TOKEN
    on:
      branch: master

after_deploy:
  echo "Deploy is done!"
