/* default styles */

body {
  font-family: 'Raleway', Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 16px;
  padding: 0;
  color: #171717;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
}

img {
  max-width: 100%;
}

.btn {
  font-family: 'Raleway', Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: .75em;
  line-height: .875rem;
  display: block;
  margin: 0 0 1rem;
  padding: 1rem 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #171717;
  border: 1px solid #999;
  border-radius: 2px;
  background-color: #fff;
}

.btn-black {
  color: #fff;
  border-color: #171717;
  background-color: #171717;
}

.btn-text {
  font-family: 'Raleway', Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: .75rem;
  line-height: 1rem;
  align-self: flex-start;
  margin: .5rem 0 0;
  padding: 0;
  text-align: left;
  border: none;
  background-color: transparent;
}

.dropdown {
  border-top: 1px solid #c6c6c6;
}

@media screen and (min-width: 48rem) {
  .dropdown {
    border-top: none;
  }
}

.dropdown + .dropdown {
  border-bottom: 1px solid #c6c6c6;
}

@media screen and (min-width: 48rem) {
  .dropdown + .dropdown {
    border-bottom: none;
  }
}

.dropdown.is-active .dropdown-content {
  display: block;
}

.dropdown.is-active .dropdown-button:after {
  transform: translateY(-50%) rotate(180deg);
}

.dropdown-button-container {
  display: flex;
  flex-flow: column;
}

.dropdown-button {
  font-family: 'Raleway', Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25rem;
  position: relative;
  display: block;
  padding: 2rem .5rem;
  text-align: left;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 48rem) {
  .dropdown-button {
    padding: 1.563rem 0 1rem;
  }
}

.dropdown-button:after {
  position: absolute;
  top: 50%;
  right: .5rem;
  width: 0;
  height: 0;
  content: '';
  transform: translateY(-50%);
  border-width: 10px 5px 0;
  border-style: solid;
  border-color: #171717 transparent transparent;
}

@media screen and (min-width: 48rem) {
  .dropdown-button:after {
    display: none;
  }
}

.dropdown-content {
  display: none;
  padding: 0 .5rem 2rem;
}

@media screen and (min-width: 48rem) {
  .dropdown-content {
    display: block;
    padding: 0 0 1.438rem;
  }
}

.dropdown-content p {
  font-family: 'Lora', Helvetica, Arial, serif;
  font-size: .875rem;
  line-height: 1.5rem;
  margin: 0;
}

.dropdown-content p + ul {
  margin-top: 1.5rem;
}

.dropdown-content ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.dropdown-content li {
  font-family: 'Lora', Helvetica, Arial, serif;
  font-size: .875rem;
  line-height: 1.5rem;
}

.dropdown-content li:last-child {
  margin-bottom: 0;
}

/* default styles end */

/* header styles */

.page-header {
  padding: 1rem 0;
  border-bottom: 1px solid #c6c6c6;
}

@media screen and (min-width: 48rem) {
  .page-header {
    padding: 1.5rem;
  }
}

.page-header-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-header-logo {
  width: 138px;
  height: 10px;
}

/* header styles end */

/* page styles */

.page-content {
  padding-bottom: 4rem;
}

@media screen and (min-width: 48rem) {
  .page-content {
    padding-bottom: 3.5rem;
  }
}

/* page styles end */

/* footer styles */

.page-footer {
  padding: 2rem 0;
  background-color: #f3f3f3;
}

@media screen and (min-width: 48rem) {
  .page-footer {
    padding-right: 0;
    padding-left: 0;
  }
}

.page-footer-buttons {
  padding-right: .5rem;
  padding-left: .5rem;
}

@media screen and (min-width: 48rem) {
  .page-footer-buttons {
    display: flex;
    padding-right: 0;
    padding-left: 0;
  }
}

.page-footer-button {
  font-family: 'Raleway', Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: .75rem;
  font-weight: 400;
  line-height: 1rem;
  display: block;
  margin-bottom: 1rem;
  padding: 0;
  text-decoration: none;
  color: #999;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 48rem) {
  .page-footer-button {
    margin: 0 1.5rem 0 0;
  }
}

.page-footer-help {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.188rem;
  margin: 1.5rem 0 1rem;
  text-align: center;
}

@media screen and (min-width: 48rem) {
  .page-footer-help {
    display: none;
  }
}

.page-footer-help-link {
  font-family: 'Lora', Helvetica, Arial, serif;
  font-size: .875rem;
  font-style: italic;
  line-height: 1.063rem;
  display: block;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  color: #171717;
}

@media screen and (min-width: 48rem) {
  .page-footer-help-link {
    display: none;
  }
}

.page-footer-nav {
  display: none;
  margin-bottom: 2rem;
}

@media screen and (min-width: 48rem) {
  .page-footer-nav {
    display: block;
  }
}

.page-footer-nav-title {
  font-size: .75rem;
  font-weight: bold;
  line-height: .875rem;
  margin: 0 0 1rem;
  text-transform: uppercase;
}

.page-footer-nav-link {
  font-size: .75rem;
  font-weight: 600;
  line-height: 1rem;
  display: block;
  margin-bottom: .75rem;
  text-decoration: none;
  color: #999;
}

.page-footer-nav-link:last-child {
  margin-bottom: 0;
}

/* footer styles end */