/* default styles */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #fff;
  margin: 0 auto;
  padding: 0;
  font-size: 16px;
  min-height: 100vh;
  font-family: 'Raleway', Helvetica Neue, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #171717;
}

audio,
canvas,
img,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.strike,
del {
  text-decoration: line-through;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ol {
  list-style-position: outside;
  padding: 0 0 0 1.25rem;
  margin: 0 0 1.25rem;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

img {
  max-width: 100%;
}

h1,
.product-title {
  font: .875rem/1.4 'Lora', Helvetica, Arial, serif;
  padding: 0 1rem;
  margin: 0 0 1.5rem;
}

h2,
.section-title {
  font: .875rem/1rem 'Raleway', Helvetica Neue, Helvetica, Arial, sans-serif;
  padding: 0 1rem;
  color: #111;
  text-transform: uppercase;
  position: relative;
  margin: 0 0 1rem;
}

.section-title {
  display: inline-block;
  margin-bottom: 2.6rem;
}

.section-title-seo {
  font-family: 'Lora', Helvetica, Arial, serif;
}

.section-title:after {
  content: '';
  display: block;
  height: 1px;
  background-color: #171717;
  position: absolute;
  top: 100%;
  left: 1rem;
  right: 1rem;
  margin-top: .5rem;
}

h3 {
  font: 1rem/1.5 'Lora', Helvetica, Arial, serif;
  padding: 0 1rem;
}

h5 {
  font: .75rem/1 'Raleway', Helvetica Neue, Helvetica, Arial, sans-serif;
}

p {
  font-size: .875rem;
  line-height: 1.71;
  margin: 0 0 1rem;
}

.btn {
  padding: .875rem 0;
  background-color: #fff;
  font: .75em/normal 'Raleway', Helvetica Neue, Helvetica, Arial, sans-serif;
  border: 1px solid #999;
  text-align: center;
  text-transform: uppercase;
  color: #171717;
  border-radius: 2px;
  display: block;
  margin: 0 0 1rem;
}

.btn-black {
  background-color: #171717;
  border-color: #171717;
  color: #fff;
}

.dropdown {
  border-top: 1px solid #c6c6c6;
  display: flex;
  flex-flow: column;
}

.dropdown + .dropdown {
  border-bottom: 1px solid #c6c6c6;
}

.dropdown.is-active .dropdown-button:after {
  transform: translateY(-50%) rotate(180deg);
}

.dropdown-button {
  display: block;
  background-color: transparent;
  padding: 1.875rem 1rem;
  border: none;
  position: relative;
  text-align: left;
  text-transform: uppercase;
  font-size: .875rem;
}

.dropdown-button:after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 5px 0;
  border-color: #171717 transparent transparent;
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
}

.dropdown-content {
  display: none;
  padding: .16rem 1rem 2rem;
}

.dropdown-text {
  font: .875rem/1.5rem 'Lora', Helvetica, Arial, serif;
  margin-bottom: 1.45rem;
}

.dropdown-list {
  margin: 0;
  padding: 0;
}

.dropdown-list-item {
  font: .875rem/1.5rem 'Lora', Helvetica, Arial, serif;
}

.dropdown-list-item:last-child {
  margin-bottom: 0;
}

/* default styles stop */

/* header styles */

.page-header {
  border-bottom: 1px solid #c6c6c6;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .75rem 0;
}

/* header styles stop */

/* page styles */

.page-content {
  padding-top: 1.5rem;
  padding-bottom: 4rem;
}

/* page styles stop */

/* product styles */

.product-title {
  padding: 0 1rem;
}

.product-gallery-slider {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
}

.product-photo {
  flex-shrink: 0;
}

.product-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1rem 0;
}

.product-details-price {
  color: #111;
  font-size: 1.125rem;
  line-height: 1.25rem;
  padding: 0;
  text-transform: none;
}

.product-details-partnumber {
  color: #171717;
  font-size: .75rem;
  line-height: .875rem;
}

.product-colors-choosen {
  font-size: .75rem;
  line-height: .875rem;
  padding: 0 1rem;
}

.product-colors {
  border-bottom: 1px solid #c6c6c6;
  margin: 0 1rem 2rem;
  display: flex;
  padding-bottom: 2rem;
}

.product-color {
  display: inline-block;
  height: 40px;
  margin-right: 1rem;
}

.radio-button {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.radio-button-inner {
  border: 1px solid transparent;
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
  transition: border-color .25s ease-in-out;
}

.radio-button-input {
  border: medium none;
  cursor: pointer;
  height: 100%;
  margin: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.radio-button-input:checked + .radio-button-inner {
  border-color: #232122;
}

.product-controls {
  padding: 0 1rem 3rem;
  display: flex;
  flex-flow: column;
}

.product-size-help-button {
  color: #171717;
  font-size: .75rem;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  margin-top: .575rem;
  background-color: transparent;
  border: none;
  text-align: left;
  padding: 0;
  align-self: flex-start;
}

.product-section {
  padding-top: 2.8rem;
}

.product-section-seo {
  padding-top: 1.9rem;
}

.product-recomendation-list {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: -1rem;
}

.product-recomendation-list-item {
  flex-basis: 50%;
  margin-bottom: 2.15rem;
}

.product-recomendation-list-item:nth-child(odd) {
  padding-left: 1rem;
  padding-right: .875rem;
}

.product-recomendation-list-item:nth-child(even) {
  padding-left: .875rem;
  padding-right: 1rem;
}

.product-recomendation-list-link {
  color: #111;
  text-decoration: none;
  display: block;
}

.product-recomendation-list-img {
  width: 100%;
}

.product-recomendation-list-name {
  padding: 0;
  margin: .75rem 0 .55rem;
}

.product-recomendation-list-price {
  color: #999;
  margin: 0;
}

.help-links {
  padding: 0 1rem;
  margin-top: -.5rem;
}

.help-links-item {
  font: .875rem/1.063rem 'Lora', Helvetica, Arial, serif;
  font-style: italic;
  margin-bottom: 1rem;
}

.help-links-item:last-child {
  margin-bottom: 0;
}

.help-links-link {
  color: #171717;
  text-decoration: none;
}

/* product styles */

/* footer styles */

.page-footer {
  background-color: #f3f3f3;
  padding: 1.7rem 1rem 2rem;
}

.service-text {
  margin-bottom: .45rem;
}

.service-text-link {
  font-size: .75rem;
  color: #999;
  text-decoration: none;
}

.page-footer-help {
  text-align: center;
  font-weight: bold;
  line-height: 1rem;
  margin: 1.2rem 0 1.525rem;
}

.page-footer-help-link {
  color: #171717;
  text-decoration: none;
}

.page-footer .help-links-item {
  text-align: center;
}
