/* product styles */

.product-title {
  font-family: 'Lora', Helvetica, Arial, serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin: 0;
  padding: 1rem .5rem;
}

@media screen and (min-width: 48rem) {
  .product-title {
    font-size: 1.5rem;
    line-height: 1.75rem;
    padding: 1.5rem 0;
  }
}

.product-gallery {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  margin: 0 -.5rem;
}

@media screen and (min-width: 48rem) {
  .product-gallery {
    margin: 0;
  }
}

.product-gallery-photo {
  flex-shrink: 0;
  width: auto;
  height: 400px;
}

@media screen and (min-width: 48rem) {
  .product-gallery-photo {
    height: 576px;
  }
}

.product-details {
  margin: 0 -.5rem;
}

@media screen and (min-width: 48rem) {
  .product-details {
    margin: 0;
  }
}

.product-details-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

@media screen and (min-width: 48rem) {
  .product-details-header {
    padding: 0 0 1rem;
  }
}

.product-details-price {
  font-family: 'Raleway', Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.19;
  margin: 0;
  padding: 0;
  text-transform: none;
  color: #171717;
}

.product-details-partnumber {
  font-size: .75rem;
  line-height: 1.19;
  margin: 0;
  color: #171717;
}

.product-colors-container {
  margin: 0 1rem 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #c6c6c6;
}

@media screen and (min-width: 48rem) {
  .product-colors-container {
    margin: 0 0 2rem;
  }
}

.product-colors-choosen {
  font-size: .75rem;
  line-height: 1rem;
  margin: 0 0 1rem;
}

.product-colors {
  display: flex;
}

.product-colors-button {
  font-size: 0;
  display: block;
  width: 40px;
  height: 40px;
  margin-right: 1rem;
  padding: 0;
  transition: border-color .25s ease-in-out;
  border: 1px solid transparent;
  border-radius: 50%;
}

.product-colors-button.is-active {
  border-color: #232122;
}

.product-controls {
  display: flex;
  flex-flow: column;
  padding: 0 1rem 3rem;
}

@media screen and (min-width: 48rem) {
  .product-controls {
    padding: 0;
  }
}

.dropdown-delivery-options {
  padding: 0;
}

@media screen and (min-width: 48rem) {
  .dropdown-delivery-options .dropdown-button {
    line-height: 1.25rem;
    padding: 0 0 1rem;
  }
}

.delivery-img {
  display: none;
}

@media screen and (min-width: 48rem) {
  .delivery-img {
    display: block;
    width: 100%;
  }
}

.delivery-description .delivery-description-title {
  font-family: 'Raleway', Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: .75rem;
  font-weight: bold;
  line-height: .875rem;
  margin: 0 0 .25rem;
}

.delivery-description .delivery-description-text {
  font-family: 'Raleway', Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: .75rem;
  line-height: 1rem;
  margin: 0 0 1.5rem;
}

.delivery-description-text:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 48rem) {
  .dropdown-delivery-options .dropdown-content {
    padding: 0;
  }
}

.product-section {
  padding: 3rem .5rem 0;
}

@media screen and (min-width: 48rem) {
  .product-section {
    padding: 1.5rem 0 0;
  }
}

.product-section-more {
  padding-top: 1rem;
}

@media screen and (min-width: 48rem) {
  .product-section-more {
    display: none;
  }
}

.product-section-title {
  font-family: 'Raleway', Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.1875rem;
  position: relative;
  display: inline-block;
  margin: 0 0 1.5rem;
  padding-bottom: .5rem;
  text-transform: uppercase;
  color: #171717;
  border-bottom: 1px solid #171717;
}

@media screen and (min-width: 48rem) {
  .product-section-title {
    line-height: 19px;
    margin: 0 0 1rem;
  }
}

.product-recomendation-list {
  display: flex;
  flex-flow: row wrap;
  padding: 0 .125rem;
}

@media screen and (min-width: 48rem) {
  .product-recomendation-list {
    padding: 0;
  }
}

.product-recommendation-card {
  display: block;
  margin-bottom: 2rem;
  text-decoration: none;
  color: #171717;
}

@media screen and (min-width: 48rem) {
  .product-recommendation-card {
    margin-bottom: .5rem;
  }
}

.product-recommendation-card-photo {
  display: block;
  width: 100%;
}

.product-recommendation-card-name {
  font-family: 'Lora', Helvetica, Arial, serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.19;
  margin: .5rem 0;
  padding: 0;
}

.product-recommendation-card-price {
  font-family: 'Raleway', Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: .75rem;
  font-weight: 400;
  line-height: 1.17;
  margin: 0;
  color: #999;
}

.help-links-link {
  font-family: 'Lora', Helvetica, Arial, serif;
  font-size: .875rem;
  font-style: italic;
  line-height: 17px;
  display: block;
  margin-bottom: 1rem;
  text-decoration: none;
  color: #171717;
}

.help-links-link:last-child {
  margin-bottom: 0;
}

/* product styles end */
